.dark {
  color: var(--color-dark);
}

.light {
  color: var(--color-light);
}

.error {
  color: var(--color-error);
}

.fontSemiBold-l {
  font: var(--font-sb-l);
}

.fontSemiBold-xl {
  font: var(--font-sb-xl);
}

.regular {
  font: var(--font-reg);
}